<!DOCTYPE html>
	<html>
		<head>
			<title>{{  Adam Oberman teaching page</title> }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/Math462">Math 462 2022</a></li>
		        	<li><a href="/Lectures">Math 462 2021</a></li>
				<li><a href="/Math562">Math 562/Comp 562 2022</a></li>
	        	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.adamoberman.net/">Adam Oberman Academic Page</a></li>
	        		<li><a href="https://adam-oberman.github.io/">Adam Oberman Teaching Page</a></li>
				</ul>
			</footer>
		</body>
	</html>
